@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	/* Font */
	--font-poppins: 'Poppins', sans-serif;

	/* Colors */
	--color-shujia-gray: #43484c;
	--color-shujia-graylight: #e4e5e9;
	--color-shujia-orange: #d04b1e;
	--color-shujia-black: #030504;
	--color-shujia-almostwhite: #dae1e9;
}

body {
	@apply bg-shujia-almostwhite font-poppins text-shujia-black;
}
